* {
  font-size: 18px;
}

main .mensagem {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 80%;
}

main .mensagem input {
  border: 1px solid #3E4095;
  border-radius: 10px;
  font-style: italic;
  margin-top: 20px;
  padding: 10px;
}

main .mensagem .nome, main .mensagem .assunto{
  width: 100%;
}

.mensagem .telefone-email {
  align-items: unset;
  display: flex;
  justify-content: space-between;
}

.mensagem .telefone, .mensagem .email {
  width: 48%;
}

.mensagem  textarea.textarea {
  border: 1px solid #3E4095;
  height: 500px;
  padding: 20px;
  width: 100%;
  margin-top: 20px;
  resize: none;
  border-radius: 10px;
}
 
.mensagem  textarea.textarea:focus, .mensagem input:focus{
  outline: none;
  border: 3px solid #3E4095;;
}

main button {
  background: #fff;
  border: 1px solid #3E4095;
  border-radius: 50px;
  color: #3E4095;
  cursor: pointer;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px;
  transition: .2s ease-out;
  width: 100px;
}

main button:hover {
  background: #3E4095;
  color: #fff;
}

@media (max-width: 800px) {
  main .mensagem input, main .mensagem textarea {
    font-size: 12px;
  }
}