.texto-banner {
  align-items: center;
  background-image: url(../assets/images/Background.png);
  background-repeat: round;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  margin: 0;
  text-align: center;
  width: 100%;
}

.texto-banner h3 {
  font-size: 32px;
  width: 750px;
}

.texto-banner p {
  font-size: 18px;
  margin-top: 30px;
  width: 450px;
}

.texto-banner a {
  background: #6FA8B2;
  border-radius: 6px;
  color: #fff;
  padding: 14px;
  text-decoration: none;
}

.texto-banner a:hover {
  background: #71c0ce;
}

#sobre {
  background: #EEEEEE;
  height: 100%;
  width: 100%;
}

/* Resumo com grid das imagens */

.resumo-dexters {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 40px;
}

.resumo-dexters .images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 10vw);
  grid-gap: 2rem; 
  width: 650px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.gallery__item--2 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.gallery__item--4 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.text-dexters {
  margin-right: 200px;
}

.resumo-dexters .text-dexters h1 {
  color: #575a5b;
  font-size: 48px;
  width: 300px;
}
.resumo-dexters .text-dexters p {
  color: #888686;
  line-height: 22px;
  margin: 20px 0;
  width: 350px;
}

.resumo-dexters .text-dexters a {
  color: #0ADAFE;
  text-decoration: none;
}

.resumo-dexters .text-dexters a:hover {
  opacity: .8;
}

.resumo-dexters .images figure {
  box-shadow: 0px 15px 10px 4px #d4d4d4;
}

.resumo-dexters .images figure:hover {
  transform: scale(1.02);
}


#atividades {
  background: #fafafa;
  height: 100%;
}

.atividades {
  display: flex;
  justify-content: space-around;
  padding: 100px;
}

.atividades .atividades-desenvolvidas {
  margin: 0;
  margin: auto 0;
  width: 300px;
}

.atividades .atividades-desenvolvidas h1 {
  color: #545457;
  font-size: 48px;
  width: 300px;
}

.atividades .atividades-desenvolvidas a {
  color: #0ADAFE;
  text-decoration: none;
}

.atividades .images-atividades {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 30px;
}
  
.card-atividade-1 { grid-area: 1 / 1 / 2 / 2; }
.card-atividade-2 { grid-area: 2 / 1 / 3 / 2; }
.card-atividade-3 { grid-area: 3 / 1 / 4 / 2; }
.card-atividade-4 { 
  grid-area: 1 / 2 / 2 / 3; 
  position: relative;
  top: 150px;
}
.card-atividade-5 { 
  grid-area: 2 / 2 / 3 / 3; 
  position: relative;
  top: 150px;
}

.atividades .images-atividades img {
  background: #eee;
  border-radius: 4px;
  padding: 20px;
  margin: 30px;
}

.atividades .images-atividades .card-atividade-1 {
  align-items: flex-end;
  background: linear-gradient(270deg, rgba(243, 210, 72, 0.94) -0.05%, rgba(201, 197, 106, 0.959027) 29.89%, rgba(163, 185, 137, 0.976259) 52.65%, rgba(115, 170, 175, 0.997973) 71.11%, rgba(120, 172, 172, 0.99585) 90.79%, #6FA8B2 99.4%);
  border-radius: 4px;
  display: flex;
  height: 250px;
  margin: 12px 20px;
  padding: 50px 20px;
  width: 250px;
}

.atividades .images-atividades .card-atividade-1 .texto {
  color: #545457;
  font-size: 20px;
  width: 200px;
}

.atividades .images-atividades .card-atividade-2 {
  align-items: flex-end;
  background: linear-gradient(90deg, #6FA8B2 26.43%, rgba(243, 210, 72, 0.94) 89.79%);
  border-radius: 4px;
  display: flex;
  height: 250px;
  margin: 12px 20px;
  padding: 50px 20px;
  width: 250px;
}

.atividades .images-atividades .card-atividade-2 .texto {
  color: #545457;
  font-size: 20px;
  width: 200px;
}

.atividades .images-atividades .card-atividade-3 {
  align-items: flex-end;
  background: linear-gradient(270deg, rgba(243, 210, 72, 0.94) 5.96%, rgba(187, 193, 117, 0.965347) 32.62%, rgba(120, 172, 172, 0.99585) 70.4%, #6FA9B3 84.64%);
  border-radius: 4px;
  display: flex;
  height: 250px;
  margin: 12px 20px;
  padding: 50px 20px;
  width: 250px;
}

.atividades .images-atividades .card-atividade-3 .texto {
  color: #545457;
  font-size: 20px;
  width: 200px;
}

.atividades .images-atividades .card-atividade-4 {
  align-items: flex-end;
  background: linear-gradient(233.07deg, #6FA9B3 21.5%, rgba(243, 210, 72, 0.94) 84.78%);
  border-radius: 4px;
  display: flex;
  height: 250px;
  margin: 12px 20px;
  padding: 50px 20px;
  width: 250px;
}

.atividades .images-atividades .card-atividade-4 .texto {
  color: #545457;
  font-size: 20px;
  width: 200px;
}

.atividades .images-atividades .card-atividade-5 {
  align-items: flex-end;
  background: linear-gradient(306.66deg, #6FA9B3 21.24%, rgba(243, 210, 72, 0.94) 87.61%);
  border-radius: 4px;
  display: flex;
  height: 250px;
  margin: 12px 20px;
  padding: 50px 20px;
  width: 250px;
}

.atividades .images-atividades .card-atividade-5 .texto {
  color: #545457;
  font-size: 20px;
  width: 200px;
}

#parceiros {
  background: #EEEEEE;
  height: 400px;
}

.titulo {
  color: #545457;
  font-size: 32px;
  padding: 60px;
  text-align: center;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: .5s;
  animation-name: fade;
  animation-duration: .5s;
}

@-webkit-keyframes fade {
  from {opacity: .6}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .6}
  to {opacity: 1}
}

@media (max-width: 1400px) {
  .resumo-dexters .images {
    margin-right: 20px;
    width: 600px;
  }
  .resumo-dexters .text-dexters {
    margin-right: 0;
  }
}

@media (max-width: 800px) {
  #banner {
    width: 100%;
  }

  .texto-banner {
    height: auto;
    text-align: center;
    padding: 50px 0;
  }

  .texto-banner h3 {
    font-size: 18px;
    width: 300px;
  }

  .texto-banner p {
    font-size: 14px;
    margin-top: 6px;
    width: 80%;
  }

  .resumo-dexters {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 30px;
  }

  .resumo-dexters .images {
    grid-gap: 4px;
    padding: 0;
    width: 100%;
  }

  .resumo-dexters .text-dexters h1 {
    margin-top: 30px;
  }

  .resumo-dexters .text-dexters p{
    padding: 0;
    width: 275px;
  }
  
  .atividades {
    flex-direction: column;
    height: 100%;
    padding: 0;
  }

  .atividades .atividades-desenvolvidas {
    padding: 24px;
  }

  .atividades .images-atividades {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
  }

  .atividades .atividades-desenvolvidas h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .atividades .atividades-desenvolvidas a {
    font-size: 16px;
  }

  .atividades .images-atividades .card-atividade-1 {
    height: 150px;
    margin: 10px;
    padding: 10px;
    width: 160px;
  }

  .atividades .images-atividades .card-atividade-1 .texto {
    font-size: 14px;
  }

  .atividades .images-atividades .card-atividade-2 {
    height: 150px;
    margin: 10px;
    padding: 10px;
    width: 160px;
  }

  .atividades .images-atividades .card-atividade-2 .texto {
    font-size: 14px;
  }

  .atividades .images-atividades .card-atividade-3 {
    height: 150px;
    margin: 10px;
    padding: 10px;
    width: 160px;
  }

  .atividades .images-atividades .card-atividade-3 .texto {
    font-size: 14px;
  }

  .atividades .images-atividades .card-atividade-4 {
    height: 150px;
    margin: 10px;
    margin-top: -60px;
    padding: 10px;
    width: 160px;
  }

  .atividades .images-atividades .card-atividade-4 .texto {
    font-size: 14px;
  }

  .atividades .images-atividades .card-atividade-5 {
    height: 150px;
    margin: 10px;
    margin-top: -60px;
    padding: 10px;
    width: 160px;
  }

  .atividades .images-atividades .card-atividade-5 .texto {
    font-size: 14px;
  }
}