.slider-content {
  list-style: none;
  margin: auto;
  position: relative;
  width: 100%;
}

.slider-content .preview span, .slider-content .next span {
  color: #fff;
  font-size: 26px;
  font-weight: 100;
}

.slider-content .preview, .slider-content .next {
  align-items: center;
  background: none;
  border: 1px solid #fff;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  height: 50px;
  justify-content: center;
  margin: 0 10px;
  outline: none;
  padding: 8px;
  position: absolute;
  text-decoration: none;
  top: 50%;
  transition: .6s ease;
  width: 50px;
}

.slider-content .next {
  right: 0;
}

.slider-content .preview img, .slider-content .next img {
  width: 30px;
}

.slider-content .preview:hover, .slider-content .next:hover {
  background: #3D3D79;
  border: 1px solid #3D3D79;
}

.slider-item {
  padding: 0;
}

.texto-banner {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: center;
  margin: 0;
  text-align: center;
  width: 100%;
}

.texto-banner .intro-noticia {
  align-items: center;
  background: #3d3d7979;
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: center;
  padding: 30px;
  width: 100%;
}

.texto-banner .intro-noticia h3 {
  font-size: 32px;
  margin: 0 auto;
  width: 600px;
}

.texto-banner .intro-noticia p {
  font-size: 18px;
  margin: 20px auto;
  margin-bottom: 50px;
  text-align: center;
  width: 600px;
}

.texto-banner .intro-noticia a {
  background: #fff;
  border-radius: 50px;
  color: #3D3D79;
  margin: 0 auto;
  padding: 14px;
  text-decoration: none;
  transition: .2s ease-in-out;
  width: fit-content;
}

.texto-banner a:hover {
  background: #3D3D79;
  color: #fff;
}

.dots {
  bottom: 30px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-bottom: -15px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.dot {
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  height: 15px;
  margin: 0 5px;
  transition: .2s ease-in-out;
  width: 15px;
}

.active, .dot:hover { 
  background: #3D3D79;
}

#sobre {
  background: #EEEEEE;
  height: 100%;
  width: 100%;
}

/* Resumo com grid das imagens */

.resumo-dexters {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 40px;
}

.resumo-dexters .images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 10vw);
  grid-gap: 2rem; 
  width: 650px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.gallery__item--2 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.gallery__item--4 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.text-dexters {
  margin-right: 200px;
}

.resumo-dexters .text-dexters h1 {
  color: #575a5b;
  font-size: 48px;
  width: 300px;
}
.resumo-dexters .text-dexters p {
  color: #888686;
  line-height: 22px;
  margin: 20px 0;
  width: 350px;
}

.resumo-dexters .text-dexters a {
  color: #3E4095;
  text-decoration: none;
}

.resumo-dexters .text-dexters a:hover {
  opacity: .8;
}

.resumo-dexters .images figure {
  box-shadow: 0px 15px 10px 4px #d4d4d4;
  transition: .2s;
}

.resumo-dexters .images figure:hover {
  cursor: none;
  transform: scale(1.05);
}

#parceiros {
  background: #EEEEEE;
  height: 400px;
}

.titulo {
  color: #545457;
  font-size: 32px;
  padding: 60px;
  text-align: center;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: .5s;
  animation-name: fade;
  animation-duration: .5s;
}

@-webkit-keyframes fade {
  from {opacity: .6}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .6}
  to {opacity: 1}
}

@media (max-width: 1400px) {
  .resumo-dexters .images {
    margin-right: 20px;
    width: 600px;
  }
  .resumo-dexters .text-dexters {
    margin-right: 0;
  }
}

@media (max-width: 800px) {
  .slider-content .preview, .slider-content .next {
    height: 35px;
    width: 35px;
  }

  .texto-banner {
    height: auto;
    text-align: center;
    padding: 50px 0;
  }

  .texto-banner .intro-noticia h3 {
    font-size: 16px;
    width: 100%;
  }

  .texto-banner .intro-noticia p {
    font-size: 14px;
    margin-top: 6px;
    margin-bottom: 10px;
    width: 80%;
  }

  .texto-banner .intro-noticia a {
    background: #fff;
    border-radius: 50px;
    color: #3D3D79;
    font-size: 14px;
    margin: 0 auto;
    padding: 14px;
    text-decoration: none;
    transition: .2s ease-in-out;
    width: fit-content;
  }

  .dot {
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    height: 10px;
    margin: 0 5px;
    transition: .2s ease-in-out;
    width: 10px;
  }

  .resumo-dexters {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 30px;
  }

  .resumo-dexters .images {
    grid-gap: 4px;
    padding: 0;
    width: 100%;
  }

  .resumo-dexters .text-dexters h1 {
    margin-top: 30px;
  }

  .resumo-dexters .text-dexters p{
    padding: 0;
    width: 275px;
  }
}