.publicacoes .resumo {
  display: flex;
  flex-direction: column;
}

.publicacoes .resumo > div {
  display: flex;
  flex-direction: row;
}

.publicacoes .resumo .texto-resumo {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  padding: 20px;
}

.publicacoes .resumo .texto-resumo p {
  color: #868686;
  font-family: 'Ubuntu', sans-serif;
  padding: 10px 0;
}

aside .button-aside {
  align-items: center;
  background: #fafafa;
  border: 1px solid #D7D7D7;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  font-family: 'Ubuntu', sans-serif;
  height: 40px;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
  width: fit-content;
}

aside .pesquisa .item {
  display: flex;
  justify-content: space-around;
}


aside .pesquisa .item img {
  background: #c3c3c3;
  border-radius: 25px;
  padding: 2px;
  width: 40px;
}

aside .buttons-citation {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

aside .buttons-citation > button {
  font-family: 'Ubuntu', sans-serif;
  margin: 10px 0;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
  .publicacoes .resumo > div {
    flex-direction: column;
  }
}