main .container {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 20px;
  width: 70%;
}

main .container h4 {
  font-size: 28px;
  margin: 30px 0;
  text-align: center;
  text-transform: uppercase;
}

main .container p {
  color: #8d8d8d;
  line-height: 28px;
  text-align: justify;
}

main .container .reference {
  color: #8d8d8d;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.reference .italic {
  color: #5e5e5e;
  font-style: italic;
  text-decoration: none;
}

main .container .card-integrantes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

main .container .card-integrantes .card {
  align-items: center;
  background: linear-gradient(180deg, #B6B6FF, #6C6C99);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 400px;
  margin-right: 20px;
  padding: 10px;
  width: 300px;
}

main .container .card-integrantes .card img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

main .container .card-integrantes .card .details .infos {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

main .container .card-integrantes .card .details .infos .name {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  margin: 4px 0;
}

main .container .card-integrantes .card .details .infos .occupation {
  color: #fff;
  font-size: 16px;
  margin: 4px 0;
  text-align: center;
  width: 200px;
}

main .container .card-integrantes .card .details .infos .local {
  color: #fff;
  font-size: 14px;
  text-align: center;
  width: 200px;
}

@media (max-width: 800px) {
  main .container {
    margin: 20px auto;
    padding: 40px;
    width: 100%;
  }

  main .container h4 {
    font-size: 22px;
  }

  main .container .card-integrantes {
    flex-direction: column;
    width: 100%;
  }

  main .container .card-integrantes .card {
    margin: 0;
    margin-top: 10px;
  }
}