main {
  margin: 10px 0;
}
main .container {
  /* background: #eee; */
  display: flex;
  flex-direction: column;
}

main .container img {
  margin: 0 auto;
  width: 500px;
}

main .container {
  margin: 20px auto;
  padding: 10px;
  width: 80%;
}

main .container h3 {
  font-size: 32px;
  margin: 30px 0;
  text-align: center;
}

main .container h4 {
  font-size: 28px;
  margin: 30px 0;
  text-align: center;
  text-transform: uppercase;
}

main .container p {
  color: #8d8d8d;
  line-height: 28px;
  text-align: justify;
}

main .container .reference {
  color: #8d8d8d;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.italic {
  color: #5e5e5e;
  font-style: italic;
  text-decoration: none;
}

main .contato {
  box-shadow: 0px 10px 10px 0px #c3c3c3;
  margin: 50px auto;
  padding: 40px;
  width: 40%;
}

main .contato h3 {
  font-family: 'Ubuntu', sans-serif;
}

main .contato .box-contato {
  margin-top: 30px;
}

main .contato .box-contato > input {
  margin-top: 30px;
  width: 100%;
}

main .contato .box-contato input{
  border: none;
  border-bottom: 2px solid #F1F1F1;
  font-size: 16px;
  padding-bottom: 10px;
}

main .contato .box-contato .input-nome-email {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main .contato .box-contato .input-nome-email input {
  width: 45%;
}

main .contato button {
  background: #3D3D79;
  border: none;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  margin-top: 40px;
  font-size: 18px;
  padding: 10px;
  width: 100px;
}

main .contato button:hover {
  opacity: .7;
}

main .professores {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
}

main .professores .card-professor {
  align-items: center;
  background: linear-gradient(90deg, #3D3D79, #3E4095);
  border-radius: 6px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
  padding: 10px;
  text-align: center;
  width: 250px;
}

main .professores .card-professor img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

main .professores .card-professor .details {
  padding: 20px;
}

main .professores .card-professor .details h4 {
  font-size: 24px;
  font-weight: 300;
}

main .professores .card-professor .details .local {
  margin-top: 10px;
  font-weight: 100;
}

main .professores .card-professor .details .grupo {
  font-weight: 100;
}

main .professores .card-professor .details .links {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 100px;
}

main .professores .card-professor .details .links a img {
  border-radius: 0%;
  height: 20px;
  width: 20px;
}

@media (max-width: 800px) {
  main {
    padding: 10px;
  }
  
  main .container {
    padding: 10px;
    width: 100%;
  }

  .container img {
    margin: 0;
    width: 200px;
  }
}