* {
  box-sizing: border-box;
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0 0 20px 0;
}


::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #3d3d798e;
}

/* HEADER */

header {
  background: #fafafa;
  box-shadow: 2px -1px 20px 0px #e1e1e1;
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 100%;
}

header .logos {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-left: 30px;
  padding: 10px;
  width: 250px;
}

header .logos a .dexters-logo {
  height: 100%;
  width: 70px;
}

header .logos .ufma-logo {
  margin-left: -30px;
  width: 75px;
}

header .logos .divider {
  background: #3D3D79;
  height: 80%;
  margin: 0 10px ;
  width: 2px;
}

header nav {
  align-items: center;
  display: flex;
  margin-right: 100px;
}

header .open-btn, header .close-btn {
  display: none;
}

header nav ul {
  align-items: center;
  display: flex;
  list-style: none;
}

header nav button {
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  padding: 8px;
  margin: 9px;
}


header nav button:hover {
  background: #575a5b6b;
}

header nav a, header nav .dropbtn {
  color: #3D3D79;
  text-decoration: none;
}

/* HEADER */

.section-header {
  margin-top: 30px;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 20px;
}

.section-header::before {
  content: '';
  position: absolute;
  display: block;
  width: 60px;
  height: 5px;
  background: #3D3D79;
  bottom: 20px;
  left: calc(50% - 30px);
}

.section-header h2 {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}

mark {
  background: none;
  color: #545457;
  text-decoration: none;
  
  display: inline-block;
  position: relative;
}
mark:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 4px;
  position: absolute;
  background: #B9B9D888;
  transition: height 0.3s ease 0s;
  z-index: 0;
  width: 100%;
}
mark:hover:after { 
  height: 10px; 
  left: 0; 
}

/* FOOTER */


footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-top: 0;
  padding: 3.125rem 1.25rem;
  background: #545457;
}

footer .logos-footer{
  display:flex;
  align-items: center;
  justify-content: center;
}


footer .logos-footer a {
  margin-right: 20px;
  width: 100px;
}

footer .logos-footer .logo-observatorio img{
  width: 100px;
}


footer .logos-footer a img {
  width: 100px;
}

footer .logos-footer .logos-secundarias {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer .infos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
}

footer .infos ul{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer .infos ul .numeros-contatos{
  letter-spacing: 2px;
}

footer h4{
  background-color: #3D3D79;
  padding: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #fff;
}

footer .infos ul {
  list-style: none;
}

footer .infos li {
  display: flex;
  padding: 12px;
}

footer .infos li p {
  margin: 0;
  margin-left: 10px;
  width: 400px;
}

footer .infos img {
  width: 25px;
}

footer .infos a, footer .infos p {
  color: #fff;
  margin-left: 20px;
}

footer .infos .btn-contato {
  align-items: center;
  border-radius: 6px;
}

footer .infos a {
  text-decoration: none;
}

footer .contatos {
  display: flex;
  height: 80%;
  align-items: center;
  justify-content: center;
}

footer .contatos .contato{
  align-self: flex-start;
  width: 180px;
  text-decoration: none;
  font-size: 17px;
}

footer .contatos ul {
  list-style: none;
}

footer .contatos li {
  align-items: center;
  display: flex;
  padding: 12px;
  width: 300px;
}

footer .contatos img {
  margin: 0;
  width: 25px;
}

footer .contatos a{
  color: #fff;
}

footer .contatos .btn-contato {
  align-items: center;
  display: flex;
  border-radius: 6px;
}

footer .infos a {
  text-decoration: none;
}

footer .contato {
  background: #3D3D79;;
  border-radius: 6px;
  box-shadow: 0px 6px 10px 0px #252629;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  width: 175px;
}

footer .contato img {
  width: 25px;
}

footer .contato a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

footer .contato a {
  opacity: .8;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: .5s;
  animation-name: fade;
  animation-duration: .5s;
}

@-webkit-keyframes fade {
  from {opacity: .1}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .1}
  to {opacity: 1}
}

@media (max-width: 800px) {

  header {
    height: 70px;
  }

  header .logos {
    margin: auto 0;
    margin-left: 10px;
    width: 100px;
  }

  header nav {
    margin: 0;
  }
  
  header .logos .ufma-logo, header .divider {
    display: none;
  }

  header .logos a .dexters-logo {
    height: 50px;
    width: 60%;
  }

  header .open-btn, header .close-btn {
    display: block;
  }

  #nav-bar .overlay-content ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  ul li {
    padding: 10px;
  }
  
  .overlay {
    background-color: #3D3D79;
    background-color: #3D3D79f8;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    transition: .4s;
    height: 0%;
    width: 100%;
  }

  .overlay-content {
    width: 100%;
    text-align: center;
  }

  .overlay a, .overlay button, .overlay .dropbtn {
    display: flex;

    color: #fff;
    font-size: 18px;
    text-decoration: none;

    transition: .2s;
  }

  .overlay .close-btn {
    position: absolute;
    right: 20px;
    top: 30px;
  }

  header nav button {
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    padding: 8px;
  }

  header .open-btn {
    margin-right: 10px;
    width: 30px;
  }

  header nav ul li .dropdown .dropdown-content-sobre a, header nav ul li .dropdown .dropdown-content-produtos a {
    color: #000;
  }

  header nav .overlay-content ul li .dropdown .dropbtn span {
    margin-left: -5px;
  }
  
  .dropbtn {
    color: #fff;
    display: flex;
    margin-left: 12px;
  }

  footer {
    padding: 40px 0;
  }

  
  footer .container-logos-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  footer .infos {
    width: 100%;
  }

  footer .infos li p {
    font-size: 14px;
    margin: 0;
    margin-left: 6px;
    width: fit-content;
  }

  footer .contatos {
    width: 100%;
  }
  
  footer .contatos li {
    align-items: center;
    display: flex;
    margin: 0;
    padding: 12px;
    width: fit-content;
  }

  footer .contatos li a {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-left: 0px;
    padding: 12px;
    text-decoration: none;
    width: 140px;
  }
}

@media (min-width: 1051px ){
  
  .container-fale-conosco {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
  }

  
}

@media (max-width: 1050px){
    
  footer {
      display: block;
      padding: 2rem 8rem;
  }

  footer .projetos-footer {
      display: block;
  }

  footer h4{
      color: #919496;
      text-align: start;
      width: 100%;
      background: none;
      padding-top: 1rem;
      text-indent: 2px;
      margin-top: 1rem;
      border-bottom: 1px solid #919496;
  }

  footer .container-logos-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  footer .logos-footer {
    margin-bottom: 20px;
  }

  footer .contatos, footer .infos {
    align-items: flex-start;
  }
  
}

@media (max-width: 700px) {
  footer {
    padding: 2rem;
  }
}

@media (max-width:470px){
  footer {
    padding: 0.50rem;
  }
  
  footer .infos li img{
    width: 20px;
  }

  footer .infos li p {
    font-size: 12px;
  }
  
  footer .contatos .contato{
    width: 140px;
  }

  footer .contatos img {
    width: 20px;
  }

  footer .contatos .contato{
    font-size: 13px;
  }

  
}