main .container {
  margin: 20px auto;
  padding: 40px;
  width: 60%;
}

main .container .regras {
  list-style: decimal;
}

main .container .regras li {
  padding: 8px 0
}

main .container .regras li::marker {
  color: #3D3D79;
  font-weight: 900;
}

main .container .regras li a {
  color: #3D3D79;
}

main .container .regras ul {
  list-style: disc;
  padding: 0 30px;
}

main .container .regras ul li::marker {
  font-size: 20px;
}

@media (max-width: 800px) {
  main .container {
    background: #eee;
    padding: 40px;
    width: 90%;
  }
}
