main .container {
  margin: 40px auto;
  width: 80%;
}

main .container .filtro {
  display: flex;
  flex-direction: column;
}

main .container .filtro .publication,
main .container .filtro .author,
main .container .filtro .keyword,
main .container .filtro .type {
  display: flex;
  flex-direction: column;
}

main .container .filtro .publication label,
main .container .filtro .author label,
main .container .filtro .keyword label,
main .container .filtro .type label,
main .container .search label {
  font-size: calc((12px + .25vw) * .875);
  font-weight: 700;
  letter-spacing: 4px;
  margin: 10px 0;
  text-transform: uppercase;
}

main .container .filtro .publication input,
main .container .filtro .author input,
main .container .filtro .keyword input,
main .container .filtro .type select {
  background: none;
  border: 1px solid #c3c3c3;
  border-radius: 6px;
  font-size: 16px;
  font-style: italic;
  padding: 14px;
  outline: none;
  width: 100%;
}

main .container .filtro .type select {
  background: none;
  color: #707070;
}

main .container .search {
  display: flex;
  flex-direction: column;
}

main .container .search-button {
  background: none;
  border: 1px solid #c3c3c3;
  border-radius: 50px;
  cursor: pointer;
  height: 50px;
  margin: auto 0;
  padding: 12px;
  transition: .2s ease-in-out;
  width: 50px;
}

main .container .search-button:hover,
main .container .search-button:focus {
  opacity: .6;
}

main .container .list,
main .container .list-authors,
main .container .list-tags {
  list-style: none;
}

main .container .list .item {
  padding: 4px;
}

main .container .card {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
}

main .container .card .details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

main .container .card .details .data-name {
  max-width: 600px;
  width: 40%;
}

main .container .card .details .share {
  width: 15%;
}
main .container .card .details .authors {
  width: 35%;
}

main .container .card .details .data-name,
main .container .card .details .share,
main .container .card .details .authors,
main .container .card .details .resume {
  display: flex;
  flex-direction: column;
}

main .container .card .details .share .links{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
}

main .container .card .pub-type{
  font-size: 14px;
}

main .container .card .pub-type .pub-type-cont {
  color: #3E4095;
  font-weight: bold;
  margin-left: 4px;
}

main .container .card .panel .tags .list-tags{
  display: flex;
  flex-direction: row;
}

main .container .card .panel {
  display: none;
}

main .container .card .panel .resume {
  margin: 20px 0;
  text-align: justify;
}

main .container .card .details .data-name .data,
main .container .card .details .share p,
main .container .card .details .authors p,
main .container .card .panel .resume .resume-title,
main .container .card .panel .tags-title {
  font-size: calc((12px + .25vw) * .875);
  font-weight: 700;
  letter-spacing: 4px;
  margin: 6px 0;
  margin-bottom: 20px;
  text-transform: uppercase;

}

main .container .card .details .data-name .article-name {
  font-size: 22px;
  font-weight: 500;
}

main .container .card .details .share a img {
  height: 20px;
  width: 20px;
}

main .container .card .authors .list-authors .item-author-name,
main .container .card .panel .resume .resume-text,
main .container .card .panel .tags .list-tags .item-tag {
  font-size: 18px;
  margin: 0;
  padding: 0;
}

main .container .card .panel .tags .list-tags .item-tag {
  border: 1px solid #3E4095;
  border-radius: 50px;
  margin-right: 10px;
  padding: 10px;
  width: fit-content;
}

main .container .card button {
  align-items: center;
  background: none;
  border: 1px solid #3E4095;
  border-radius: 25px;
  color: #3E4095;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  margin: 10px auto;
  margin-left: 0;
  text-decoration: none;
  padding: 12px;
  transition: .1s ease-out;
  width: fit-content;
}

main .container .card button:hover {
  background: #3E4095;
  color: #fff;
}

main .container .card button span {
  font-size: 18px;
  font-weight: 400;
}

main .container .pagination {
  align-items: center;
  display: flex;
  justify-content: center;
}

main .container .pagination .numbers {
  display: flex;
}

main .container .pagination .numbers div, main .container .pagination .prev, main .container .pagination .next {
  align-items: center;
  background: #3D3D79;
  border: 1px solid #3D3D79;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: flex;
  height: 25px;
  justify-content: center;
  margin: 0 4px;
  padding: 8px;
  width: 25px;
}

main .container .pagination .prev:hover , main .container .pagination .next:hover {
  background: #fff;
  color: #3D3D79;
}

main .container .pagination .numbers .active {
  background: #fff;
  color: #3D3D79;
}

main .container .pagination .numbers .active:hover {
  background: #3D3D79;
  color: #fff;
}

.line-purple {
  background: #3E4095;
}

.line-gray {
  background: #c6c6c6;
}

.line-purple, .line-gray {
  height: 1px;
  margin: 10px 0;
  width: 100%
}

@media screen and (max-width: 800px) {

  main .container {
    margin: 0 auto;
    width: 90%;
  }

  main .container .filtro {
    display: flex;
    flex-direction: column;
  }

  main .container .filtro .publication,
  main .container .filtro .author,
  main .container .filtro .keyword,
  main .container .filtro .type {
    display: flex;
    flex-direction: column;
  }

  main .container .filtro .publication label,
  main .container .filtro .author label,
  main .container .filtro .keyword label,
  main .container .filtro .type label,
  main .container .search label {
    font-size: calc((12px + .25vw) * .875);
    font-weight: 700;
    letter-spacing: 4px;
    margin: 10px 0;
    text-transform: uppercase;
  }

  main .container .filtro .publication input,
  main .container .filtro .author input,
  main .container .filtro .keyword input,
  main .container .filtro .type select {
    background: none;
    border: 1px solid #c3c3c3;
    border-radius: 6px;
    font-size: 16px;
    font-style: italic;
    padding: 14px;
    outline: none;
    width: 100%;
  }

  main .container .filtro .type select {
    background: none;
    color: #707070;
  }

  main .container .search {
    display: flex;
    flex-direction: column;
  }

  main .container .search-button {
    background: none;
    border: 1px solid #c3c3c3;
    border-radius: 50px;
    cursor: pointer;
    height: 50px;
    margin: auto 0;
    padding: 12px;
    transition: .2s ease-in-out;
    width: 50px;
  }

  main .container .search-button:hover,
  main .container .search-button:focus {
    opacity: .6;
  }

  main .container .list,
  main .container .list-authors,
  main .container .list-tags {
    list-style: none;
  }

  main .container .list .item {
    padding: 4px;
  }

  main .container .card {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
  }

  main .container .card .details {
    display: flex;
    flex-direction: column;
  }

  main .container .card .details .data-name,
  main .container .card .details .share,
  main .container .card .details .authors,
  main .container .card .details .resume,
  main .container .card .details .tags {
    display: flex;
    flex-direction: column;
  }

  main .container .card .details .data-name p,
  main .container .card .details .share p,
  main .container .card .details .authors p,
  main .container .card .panel .resume .resume-title,
  main .container .card .panel .tags-title {
    font-size: calc((12px + .25vw) * .875);
    font-weight: 700;
    letter-spacing: 4px;
    margin: 6px 0;
    text-transform: uppercase;
  }

  main .container .card .details .share a img {
    height: 20px;
    width: 20px;
  }

  main .container .card .authors .list-authors .item-author-name,
  main .container .card .panel .resume .resume-text,
  main .container .card .panel .tags .list-tags .item-tag {
    font-size: 14px;
    margin: 0;
    padding: 0;
  }

  main .container .card button {
    background: none;
    border: 1px solid #3E4095;
    border-radius: 25px;
    color: #3E4095;
    font-size: 16px;
    font-weight: 500;
    margin: 10px auto;
    margin-left: 0;
    text-decoration: none;
    padding: 5px;
    transition: .1s ease-out;
    width: 60%;
  }

  main .container .pagination {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  main .container .pagination .numbers {
    display: flex;
  }

  main .container .pagination .numbers div, main .container .pagination .prev, main .container .pagination .next {
    align-items: center;
    background: #3D3D79;
    border: 1px solid #3D3D79;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: flex;
    height: 25px;
    justify-content: center;
    margin: 0 4px;
    padding: 8px;
    width: 25px;
  }

  main .container .pagination .prev:hover , main .container .pagination .next:hover {
    background: #fff;
    color: #3D3D79;
  }

  main .container .pagination .numbers .active {
    background: #fff;
    color: #3D3D79;
  }
}